<!DOCTYPE html>
<html>
<head>
	<title>bookmarkr</title>
	<link rel="stylesheet" type="text/css" href="/css/application.css">  
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" > 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
  
</head>
<body>
	<div class="container" >
    <%= yield %>
  </div>
</body>
</html>