<!DOCTYPE html>
<html>
<head>
	<title>bookmarkr</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" > 
</head>
<body>
  <div class="container" >
	  <% if current_user %>
	    welcome, <%= current_user.email %>
	  <% end %>
	  <%= yield %>
  </div>
</body>
</html>